<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://gcml.org"
            class="gcml.GcmlPackage"
            genModel="model/Gcml.genmodel"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="gcml.diagram.GcmlApplication"
            name="CME - RRComSSysTeam5">
         <property
               name="windowImages"
               value="eclipse.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,441,20">
         </property>
      </product>
   </extension>
   <extension
         id="CME"
         point="org.eclipse.core.runtime.products">
      <product
            application="gcml.diagram.GcmlApplication"
            name="CME - RRComSSysTeam5">
         <property
               name="windowImages"
               value="eclipse.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,441,20">
         </property>
         <property
               name="appName"
               value="CME - RRComSSysTeam5">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
